<table class="table" id="play-lists">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Timer</th>
    <th scope="col">Image</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
  </tr>
  </thead>
  <tbody>
    <%= render @plays %>
  </tbody>
</table>
