<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item"><%= link_to t('shared.menu.posts'), root_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to t('shared.menu.plays'), plays_path, class: 'nav-link' %></li>
  </ul>
</nav>
